@import "tailwindcss";

#root {
  max-width: 1380px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

/* variables */
:root {
  --brand-color: #10b981;
  --blue: #3d7eb9;
  --blue-light: #0da9a6;
  --blue-dark: #15445a;
  --gray: #c2c1c1;
  --green: #07a869;
  --brown: #c1b48a;
  --first: blue;
  --second: green;
  --third: red;
  --fourth: gray;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.scrollinger-rtl {
  direction: ltr;
}

.scrollbar-rtl > * {
  direction: rtl;
}

.leaflet-tooltip.my-tooltip {
  background-color: transparent;
  border: #888;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none !important;
  display: none !important;
}

.cotainer {
  width: 100%;
  height: 100%;
}
@media (width <= 48rem /* 768px */) {
  #root {
    padding: 0%;
  }

  .cotainer {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*marker*/

.marker-icon.sector-1,
.card-schola-1 {
  background: var(--first);
}

.marker-icon.sector-2,
.card-schola-2 {
  background: var(--second);
  border-radius: 25%;
}

.marker-icon.sector-3,
.card-schola-3 {
  background: var(--third);
  border-radius: 50%;
}

.marker-icon.sector-4,
.card-schola-4 {
  background: var(--fourth);
  border-bottom-right-radius: calc(infinity * 1px);
  border-bottom-left-radius: calc(infinity * 1px);
}
