@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.cotainer {
  width: 700px;
  height: 600px;
  opacity: 0.8;

  box-shadow: inset 0 0 50px 20px rgba(13, 45, 136, 0.8),
    inset 0 0 100px 40px rgba(13, 45, 136, 0.6);
  filter: drop-shadow(0 0 50px rgba(13, 66, 136, 0.459));
}

.scrollbar-rtl {
  direction: ltr;
}

.scrollbar-rtl > * {
  direction: rtl;
}

.leaflet-tooltip.my-tooltip {
  background-color: transparent;
  border: #888;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none !important;
  display: none !important;
}
@media (width <= 48rem /* 768px */) {
  #root {
    padding: 0%;
  }

  .cotainer {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*marker*/

.marker-icon.sector-1 {
  background: #a7bc14; /* Green */
}

.marker-icon.sector-2 {
  background: #0047b3; /* Blue */
  border-radius: 25%;
}

.marker-icon.sector-3 {
  background: #66fb61; /* Light blue */
  border-radius: 50%;
}
